apiVersion: extensions/v1beta1
kind: Deployment           
metadata:
  name: usage                          
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: usage                      
    spec:
      containers:                       
      - name: usage                     
        image: debajyotim/usage             
        ports:
        - containerPort: 8300           
        env:
        - name: EUREKA_URL
          value: "http://eureka:admin@eureka-server:8761/eureka"
          #value: "http://173.193.75.122:30875/eureka"
